@import 'src/styles/variables/colors.scss';

.dev-secret-form {
  background-color: $dark;
  margin: 0 15px;
  border-radius: 20px;
  color: $accent;
  padding: 20px;
  width: 80%;

  > * {
    font-family: 'Andale Mono', sans-serif;

    > * {
      width: 100%;
      margin: 10px 0;
      font-size: 20px;
      text-align: left;
      padding: 10px;
    }

    .dev-secret-submit {
      border: none;
      outline: none;
      background-color: $accent;
      width:50%;
    }
  }
  .dev-secret-submit:hover{
    background-color:#BABABA
  }

  > .form-footer {
    width: 100%;
  }
}

.dev-secret-container {
  width: 100%;
}
