.dash-header {
  background-color: #141414;
  width: 100%;
  font-family: 'Andale Mono', sans-serif;
}

.logo-container {
  margin: 30px 0;
  max-width: 300px;
}

.nav-links {
  flex-direction: row;
  color: #00a651;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: 'Andale Mono', sans-serif;
}
